:root {
	--bodyBg: #fdfdfdef;
	--textCol: white;
	--headerBg: black;

	--tempBord: 1px solid red;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--bodyBg);
	color: var(--textCol);
	font-family: "QuickSand", sans-serif;
}

/* Header */
header {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px 7px;
	background: var(--headerBg);
	overflow: hidden;
}

/* Logo */
#logo {
	display: flex;
	align-items: center;
	gap: 0.7rem;
}

img {
	border-radius: 50%;
}

h1 {
	font-size: 1.5rem;
}

/* Nav & Socials */
nav ul {
	padding: 0 25px;
	border-left: 1px solid var(--textCol);
	border-right: 1px solid var(--textCol);
}

ul {
	display: flex;
	align-items: center;
	gap: 2rem;
	list-style: none;
}

ul a {
	text-decoration: none;
	color: var(--textCol);
}

@media only screen and (orientation: portrait){
	header {
		width: 10vmax;
		height: 100%;
		flex-direction: column;
		padding: 7px 0;
	}
	
	#logo {
		flex-direction: column;	
	}

	h1 {
		display: none;
	}

	nav ul {
		border-left: 0;
		border-right: 0;
		border-top: 1px solid var(--textCol);
		border-bottom: 1px solid var(--textCol);
		padding: 15px 0;
	}
	
	ul {
		flex-direction: column;
	}
}
