<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NavBar Design</title>
	<!-- CDN -->
	<script src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js" defer></script>
	<!-- CSS -->
	<link rel="stylesheet" href="/styles.css">
	<!-- Fav -->
	<link rel="icon" href="https://cdn.jsdelivr.net/gh/unseenumair/assets/icons/css.svg">
	<!-- Font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap">
</head>
<body>
	<header>
		<div id="logo">
			<img src="/assets/logo.webp" alt="Logo" width="50" height="50">
			<h1>Umair Sha.</h1>
		</div>
		<nav>
			<ul>
				<li><a href=""><iconify-icon icon="mingcute:home-5-fill" width="27" height="27"></iconify-icon></a></li>
				<li><a href=""><iconify-icon icon="fluent:info-12-filled" width="27" height="27"></iconify-icon></a></li>
				<li><a href=""><iconify-icon icon="tabler:bulb-filled" width="27" height="27"></iconify-icon></a></li>
				<li><a href=""><iconify-icon icon="iconoir:star-solid" width="27" height="27"></iconify-icon></a></li>
				<li><a href=""><iconify-icon icon="mynaui:user-solid" width="27" height="27"></iconify-icon></a></li>
			</ul>
		</nav>
		<base target="_blank"> <!-- Social Links Base -->
		<ul id="socials">
			<li><a href="https://www.github.com/unseenumair/" rel="noopener noreferrer"><iconify-icon icon="ri:github-fill" width="30" height="30"></iconify-icon></a></li>
			<li><a href="https://www.linkedin.com/in/unseenumair/" rel="noopener noreferrer"><iconify-icon icon="pajamas:linkedin" width="27" height="27"></iconify-icon></a></li>
			<li><a href="https://www.dev.to/unseenumair/" rel="noopener noreferrer"><iconify-icon icon="lineicons:dev" width="30" height="30"></iconify-icon></a></li>
		<ul>
	</header>
	<!-- JS -->
	<script src="/script.js"></script>
</body>
</html>
