:root {
	--buttonShadowCol: white;
}

/* Modes */

.lightMode {
	--bodyBg: #fdfdfdef;
	--textCol: white;
	--headerBg: black;
	--hamburgerCol: black;
	--hamburgerBg: white;
	--buttonIconCol: white;
	--buttonShadowCol: black;
}

.darkMode {
	--bodyBg: black;
	--textCol: black;
	--headerBg: #fdfdfdef;
	--hamburgerCol: white;
	--hamburgerBg: black;
	--buttonIconCol: black;
}

.blueMode {
	--bodyBg: linear-gradient(-45deg, royalblue, black);
	--textCol: white;
	--headerBg: linear-gradient(45deg, royalblue, black);
	--hamburgerCol: white;
	--hamburgerBg: black;
	--buttonIconCol: skyblue;
}

.redMode {
	--bodyBg: linear-gradient(-45deg, red, black);
	--textCol: white;
	--headerBg: linear-gradient(45deg, red, black);
	--hamburgerBg: black;
	--hamburgerCol: white;
	--buttonIconCol: red;
}

.greenMode {
	--bodyBg: linear-gradient(-45deg, green, black);
	--textCol: white;
	--headerBg: linear-gradient(45deg, green, black);
	--hamburgerBg: black;
	--hamburgerCol: white;
	--buttonIconCol: lightgreen;
}

/* Styling Starts Here */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: background 0.5s ease 0.05s;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--bodyBg);
	color: var(--textCol);
	font-family: "QuickSand", sans-serif;
}

/* Header */
header,
nav,
#socials {
	transition: all 0.4s ease 0.05s;
}

header {
	width: clamp(50px, 12vmax, 80px);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly; 
	align-items: center; 
	background: var(--headerBg);
	overflow: hidden;
	transition: width 0.5s ease 0.05s;
	border: 0;
}

header:hover{
	width: clamp(170px, 75vw, 270px);
}

header:hover h1{
	display: block;
	width: 150px;
}

header:hover nav {
	padding-block: 30px;
}

header:hover nav a {
	justify-content: flex-start; 
}

header:hover nav .name{
	display: inline-block;
	font-size: 1rem;
	font-weight: bold;
}

header:hover #socials {
	flex-direction: row;
}

/* Logo */
#logo {
	display: flex;
	gap: 0.7rem;
	align-items: center;
}

#logo img {
	border-radius: 50%;
}

h1 {
	display: none; 
	font-size: 1.3rem;
}

/* Nav & Socials */
nav {
	width: 70%;
	padding-block: 15px;
	border-top: 1px solid var(--textCol);
	border-bottom: 1px solid var(--textCol);
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--textCol);
	transition: opacity 0.3s ease 0.05s;
}

a:hover {
	opacity: 0.7;
}

nav li {
	width: 100%;
}

nav a {
	width: 100%; 
	justify-content: center;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.name {
	display: none;
}


/* HamBurger */
#hamburger,
#cross {
	position: absolute;
	color: var(--hamburgerCol);
	background: var(--hamburgerBg);
	border: 1px solid var(--hamburgerCol);
	border-radius: 50%;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	box-shadow: 0 0 20px var(--hamburgerCol);
}

#hamburger {
	top: 3%;
	left: 4%;
}

#cross {
	display: none; 
	top: 3%;
	right: 4%;
}

button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2%;
	position: absolute;
	bottom: 2%;
	right: 3%;
	padding: 20px 25px;
	border: 0;
	border-radius: 15px;
	color: black;
	background: var(--headerBg); 
	color: var(--headerCol);
	box-shadow: 0 0 20px var(--buttonShadowCol);
	transition: all 0.5s ease 0.05s;
}

button span {
	font-size: 1rem;
	letter-spacing: 0.5px;
	font-weight: bold;
}

button iconify-icon { color: var(--buttonIconCol); }

@media only screen and (orientation: portrait){
	header {
		transform: translateX(-1000px);
		transition:  transform 0.3s ease 0.05s;
		width: clamp(170px, 75vw, 270px);
	}

	h1 {
		display: block;
		width: 150px;
	}

	nav { padding-block: 30px; }

	nav a { justify-content: flex-start; }

	.name {
		display: inline-block;
		font-size: 1rem;
		font-weight: bold;
	}

	#socials { flex-direction: row; }
}

@media only screen and (orientation: landscape){
	body #hamburger {
		display: none;
	}
}
